.site-main {
    border-bottom: 1px solid #dddee0;
    padding-top: 80px;

    .container {
        max-width: 1380px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 15px;

        .home-banner {
            position: relative;
            margin-bottom: 40px;
            border-top-left-radius: 80px;
            border-bottom-right-radius: 80px;
            background: #fff;
            img {
                border-top-left-radius: 80px;
                border-bottom-right-radius: 80px;
            }
        }
    }

    .home-new-prod {
        margin: 0 auto 40px;
        max-width: 1380px;
        margin-bottom: 15px;

        .title-section {
            margin-bottom: 60px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 30px;
            line-height: 32px;
            font-family: 'Montserrat';
            color: #221f20;
        }

        .exclusive-tabs {
            .exclusive-head {
                .exclusive-content {
                    margin-bottom: 24px;
                    position: relative;

                    a {
                        text-decoration: none;
                        color: #000;
                    }

                    .card-product {
                        .img-style-product {
                            width: 230px;
                            height: 345px;
                            margin: 0 auto;
                            border-radius: 10px;
                        }

                        .title-product {
                            text-align: center;
                            margin-top: 20px;
                        }
                        &:hover {
                            border: 1px solid #353434;
                            transition: 0.3s;
                            border-radius: 10px;
                        }
                    }
                }

                .link-product {
                    margin-top: 30px;
                    text-align: center;

                    .all-product {
                        background: #ffffff;
                        border: 1px solid #221f20;
                        box-sizing: border-box;
                        border-radius: 24px 0px;
                        padding: 13px 24px;
                        font-size: 16px;
                        line-height: 20px;
                        color: #221f20;
                        display: inline-block;
                        position: relative;

                        &:hover {
                            background-color: #3b3b3b;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .home-trending {
        padding: 50px;
        .content-trending {
            img {
                border-top-left-radius: 80px;
                border-bottom-right-radius: 80px;
            }
        }
    }
}
