.container {
    width: 1380px;
    margin-left: auto;
    margin-right: auto;

    .product {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .product-container {
            margin-top: 26px;
            display: flex;
            margin-right: auto;
            width: 100%;

            .product-navbar {
                width: 30%;
                border: 1px solid red;
            }

            .product-list {
                height: 555px;
                width: 80%;
                border: 1px solid blue;
            }
        }
    }
}
